
notes/

data/SI-2311/191105_A00605_0082_AHGV3LDRXX/Sample_SI-2311-CT11/

scripts/trimmomatic/trimmomatic_run_local.sh

scripts/star/star_index_local.sh

scripts/star/star_run_local.sh

data/adapters/

data/reference/

results/trimmomatic/SI-2311/

results/fastqc/SI-2311/

results/star/reference_merge/

results/star/merged_reference/

data/reference_genomes/

results/fastqc_test/SI-2311/

results/fastqc/in_vitro_complementary/multiqc_report.html

results/fastqc/in_vitro_pilot/multiqc_report.html

results/fastqc/SH-2259/multiqc_report.html
.Rproj.user

results/htseq/reverse/in_vitro_complementary/processed_reads/

results/htseq/reverse/in_vitro_pilot/processed_reads/

results/htseq/reverse/SI-2311/processed_reads/

results/htseq/reverse/SH-2259/processed_reads/

results/htseq/reverse/in_vitro_fusion/processed_reads/eimeria/

results/htseq/reverse/in_vitro_fusion/processed_reads/chicken/

results/htseq/reverse/in_vitro_fusion/processed_reads/

figures/

WGCNA_test/

results/

*.RData

data/chicken_go_annotation/

data/eimeria_go_kegg_annotation/

geneInfo.csv

geneInfo_fusion.csv

immune_classified_genes.csv

geneInfo_fusion_annotated.csv

.~lock.immune_classified_genes.csv#
